apiVersion: v1
kind: Namespace
metadata:
  name: portainer
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: portainer
  namespace: portainer
  labels:
    app: portainer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: portainer
  template:
    metadata:
      labels:
        app: portainer
    spec:
      nodeSelector:
        kubernetes.io/hostname: mik-001 # sostituisci con il tuo nodo
      containers:
        - name: portainer
          image: portainer/portainer-ce:latest # o portainer-ee:latest per enterprise
          imagePullPolicy: Always
          ports:
            - containerPort: 9000
              name: http
              protocol: TCP
            - containerPort: 9443
              name: https
              protocol: TCP
          volumeMounts:
            - name: portainer-data
              mountPath: /data
            - name: var-run-docker-sock
              mountPath: /var/run/docker.sock
          securityContext:
            capabilities:
              drop: ["ALL"]
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 1000
      volumes:
        - name: portainer-data
          emptyDir: {} # per prod, usa PVC persistente
        - name: var-run-docker-sock
          hostPath:
            path: /var/run/docker.sock
---
apiVersion: v1
kind: Service
metadata:
  name: portainer
  namespace: portainer
spec:
  type: NodePort
  selector:
    app: portainer
  ports:
    - name: http
      port: 9000
      targetPort: 9000
      nodePort: 30777 # HTTP
      protocol: TCP
    - name: https
      port: 9443
      targetPort: 9443
      nodePort: 30779 # HTTPS
      protocol: TCP
