* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Orbitron', sans-serif;
  background-color: #0f1117;
  color: #e5e7eb;
}

body {
  min-height: 100vh;
  background-color: #0f1117;
}


.zenith-ticker-container {
  overflow: hidden;
  width: 100%;
}

.zenith-ticker-line {
  display: inline-flex;
  width: max-content;
  animation: zenith-marquee 20s linear infinite;
  align-items: center;
  white-space: nowrap;
}

.zenith-ticker-line > div {
  flex-shrink: 0;
}

@keyframes zenith-marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
